@import '../../style/colors';
@import '../../style/varibles';

.Index{
    line-height: 1.6em;

    &__IntruductionSection {
        width: 50%;
        padding: 26px;
        &--Headline {
            margin-bottom: 16px;
        }
    }
    &__DescriptionSection,
    &__OurFandomsSection{
        padding: 5%;
        width: 90%;
        display: flex;
        flex-direction: column;
        &--TextArea{
            text-align: center;
            &__Header {
                margin-bottom: 24px;
            }
        }
    }
    &__DescriptionSection {
        &--TextArea {
            margin-top: 72px;
            
        }
        &--IconsArea {
            display: flex;
            width: 100%;
            justify-content: space-between;
            &__box {
                margin-top: 40px;
                flex: 0 0 33.3333%;
                &--header{
                    display: flex;
                    img{
                        width: 30px;
                        height: 30px;
                    }
                    h4{
                        align-self: center;
                        color: #000000;
                        font-size: 0.9375em;
                        margin-left: 4px;
                    }
                }
                &--description{
                    margin-left: 34px;
                    font-size: 0.875em;
                }
            }
        }
    }
    &__OurFandomsSection{
        &--Fandoms-Carousel{
            margin: 0 auto;
            margin-top: 32px;
            width: 95%;
            &__Fandom-Box{
                width: 220px;
                height: 250px;
                display: flex!important;
                align-items: center;
                flex-direction: column;
                outline: none;
                &--Wrapper{
                    border: 1px solid #{$text-grey};
                    border-radius: 8px;
                    box-shadow: 0.3px 0.3px #000000;
                    text-align: center;
                    img{
                        width: 250px;
                        height: 140px;
                        border-radius: 8px 8px 0px 0px;
                        border-bottom: 1px solid #{$text-grey};
                    }
                    .name{
                        font-weight: bold;
                        font-size: 1.2em;
                    }
                    .type, .world{
                        text-align: left;
                        margin-left: 30px;
                        font-size: 0.75em;
                        span{
                            font-size: 1.2em;
                            color: #000000;
                            font-weight: 500;
                        }
                    }
                }
            }
            .slick-prev, .slick-next{
                &::before{
                    color: #868e96;
                }
            }
        }
        &--See_All{
            margin: 0 auto;
            @include yellowBtn;
        }
    }
}