@import "../../style/sizes";

.Wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    .Header {
        &__Container {
            color: #000000 !important;
            background-color: #ffffff !important;
            position: static !important;

            &--Toolbar {
                display: flex;
                justify-content: space-between;

                &__section {
                    display: flex;
                    align-items: center;
                    &--Logo{
                        a:visited { color: inherit; }
                    }
                }
            }
            &--Hamburger {
                margin-right: 16px;
            }
        }
    }
    .Main {
        flex: 9;
    }
    .Footer {
        display: block;
        width: 100%;
        height: $footer;
        background-color: rgba(134, 142, 150, 0.1);
        margin-top: 16px;
        flex: 1;
        &__section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: left;
            margin-left: 60px;
            padding: 8px;
            h4 {
                padding: 2px;
                margin-bottom: 5px;
            }
            span {
                padding: 2px;
                line-height: 1.2em;
                font-size: 0.875em;
            }
        }
    }
}
