@import "../../../../style/_sizes.scss";

.Footer {
    display: block;
    height: $footer;
    width: 100%;
    background-color: rgba(134, 142, 150, 0.1);

    &__section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        margin-left: 60px;
        padding: 8px;
        h4{
            padding: 2px;
            margin-bottom: 5px;
        }
        span {
            padding: 2px;
            line-height: 1.2em;
            font-size: 14px;
        }
    }
}
