@font-face {
    font-family: 'Arimo-Bold';
    src: url('./fonts/text font/Arimo-Bold.ttf');
}

@font-face {
    font-family: 'Arimo-Italic';
    src: url('./fonts/text font/Arimo-Italic.ttf');
}

@font-face {
    font-family: 'Arimo-Regular';
    src: url('./fonts/text font/Arimo-Regular.ttf');
}

@font-face {
    font-family: 'SF-Pro-Display-Bold';
    src: url('./fonts/headline/SF-Pro-Display-Bold.otf');
}