@import "./_fonts.scss";
@import "./_colors.scss";

@mixin header {
    font-family: "SF-Pro-Display-Bold";
    color: $text-blue;
}

@mixin yellowBtn {
    display: inline-flex;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0.5px 0.5px #000000;
    background-color: #ffe817;
    width: 80px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    > * {
        width: 100%;
    }
    span {
        font-size: 0.875em;
        font-weight: 500;
        color: #000000;
    }
}
