@import './colors';
@import './fonts';
@import './sizes';
@import './varibles';

* {
    margin: 0;
    text-decoration: none;
}

body{
    font-family: 'Arimo-Regular';
    color: $text-grey;
    h1,h2,h3,h4,h5,h6{
        font-family: 'SF-Pro-Display-Bold';
        color: $text-blue;
        @include header;
    }
    h1{
        font-size: 2em;
        line-height: 1.2em;
    }
    p{
        font-size: 1em;
        line-height: 1.6em;
    }
}

.purple{ color: $purple!important}
.blue{ color: $blue!important}
.green{ color: $green!important}
.yellow{ color: $yellow!important}
.orange{ color: $orange!important}
.red{ color: $red!important}

.mainBackgroundClean{
    background: url("../assets/main-section-clean.png");
    background-repeat: no-repeat;
    background-size: 100% #{$main_top_size};    
}
.mainBackgroundWithRainBow{
    background: url("../assets/main-section-with-rainbow.png");
    background-repeat: no-repeat;
    background-size: 100% #{$main_top_size};   
}

.boldParagraph{
    font-weight: 700;
    color: $red;
}