@import '../../../../style/_sizes.scss';

.Header {
    height: $header_size;
    flex-grow: 1;

    &__Container {
        color: #000000 !important;
        background-color: #ffffff !important;
        position: static !important;

        &--Toolbar {
            display: flex;
            justify-content: space-between;

            &__section {
                display: flex;
                align-items: center;
            }
        }
        &--Hamburger {
            margin-right: 16px;
        }
    }
}
